.vs
[Dd]ebug/
x64/
x86/


# Custom ignores for sdl_3_ge project
/sdl_3_ge/fonts
sdl_3_ge/img
/sdl_3_ge/header/ini/old
/tmp
/sdl_3_ge/header/GE/controller/game_pad.hpp
/sdl_3_ge/header/GE/timer.hpp
/sdl_3_ge/Skc_time.hpp
*.exe
*.bat
*.ps1
*.kra
*.ini
*.old
*.txt
*.png
*.bmp

